body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.header {
    background-color: #8b3c07;
    color: white;
    text-align: center;
    padding: 20px;
}

.header ul {
    list-style-type: none;
    padding: 0;
}

.header ul li {
    display: inline-block;
    margin: 0 15px;
}

.urunler {
    text-align: center;
}

.pizza {
    width: 300px;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;

}

.pizza img {
    width: 100%;
    border-radius: 10px;
}

.pizza button {
    background-color: #8b3c07;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.pizza button:hover {
    background-color: #333;
    transition: 0.3s; 
}

.footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 20px;
    margin-top: 50px; 
}